:root {
  --gutter: 24px;
  --debug-g-container-background: rgba(0, 0, 0, 1);
  --debug-g-row-background: rgba(0, 0, 0, 1);
  --debug-g-column-background: rgba(0, 255, 0, 1);
}

.debug .g-container {
  border: 2px solid var(--debug-g-container-background);
  min-height: 64px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter);
}

.debug .g-container:last-of-type {
  margin-bottom: 0;
}

.debug .g-row {
  border: 2px dashed var(--debug-g-row-background);
  min-height: 64px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter);
}

.debug .g-row:last-of-type {
  margin-bottom: 0;
}

.debug .g-col-1:after, .debug .g-col-2:after, .debug .g-col-3:after, .debug .g-col-4:after, .debug .g-col-5:after, .debug .g-col-6:after, .debug .g-col-7:after, .debug .g-col-8:after, .debug .g-col-9:after, .debug .g-col-10:after, .debug .g-col-11:after, .debug .g-col-12:after {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--debug-g-column-background);
  border: 1px solid rgba(0, 0, 0, 1);
}

.g-container-fluid {
  box-sizing: border-box;
  width: 100%;

  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

.g-container {
  box-sizing: border-box;
  max-width: 1280px;
  
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

.g-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--gutter)*-1);
  margin-left: calc(var(--gutter)*-1);
}

.g-col-1, .g-col-2, .g-col-3, .g-col-4, .g-col-5, .g-col-6, .g-col-7, .g-col-8, .g-col-9, .g-col-10, .g-col-11, .g-col-12 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}

.g-col-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
.g-col-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
.g-col-3 { flex: 0 0 25%; max-width: 25%; }
.g-col-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
.g-col-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
.g-col-6 { flex: 0 0 50%; max-width: 50%; }
.g-col-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
.g-col-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
.g-col-9 { flex: 0 0 75%; max-width: 75%; }
.g-col-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
.g-col-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
.g-col-12 { flex: 0 0 100%; max-width: 100%; }

@media (min-width: 481px) {
  .g-col-sm-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .g-col-sm-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .g-col-sm-3 { flex: 0 0 25%; max-width: 25%; }
  .g-col-sm-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .g-col-sm-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .g-col-sm-6 { flex: 0 0 50%; max-width: 50%; }
  .g-col-sm-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .g-col-sm-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .g-col-sm-9 { flex: 0 0 75%; max-width: 75%; }
  .g-col-sm-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .g-col-sm-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .g-col-sm-12 { flex: 0 0 100%; max-width: 100%; }
}

@media (min-width: 769px) {
  .g-col-md-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .g-col-md-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .g-col-md-3 { flex: 0 0 25%; max-width: 25%; }
  .g-col-md-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .g-col-md-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .g-col-md-6 { flex: 0 0 50%; max-width: 50%; }
  .g-col-md-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .g-col-md-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .g-col-md-9 { flex: 0 0 75%; max-width: 75%; }
  .g-col-md-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .g-col-md-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .g-col-md-12 { flex: 0 0 100%; max-width: 100%; }
}

@media (min-width: 997px) {
  .g-col-lg-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .g-col-lg-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .g-col-lg-3 { flex: 0 0 25%; max-width: 25%; }
  .g-col-lg-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .g-col-lg-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .g-col-lg-6 { flex: 0 0 50%; max-width: 50%; }
  .g-col-lg-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .g-col-lg-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .g-col-lg-9 { flex: 0 0 75%; max-width: 75%; }
  .g-col-lg-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .g-col-lg-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .g-col-lg-12 { flex: 0 0 100%; max-width: 100%; }
}

@media (min-width: 1181px) {
  .g-col-xl-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .g-col-xl-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .g-col-xl-3 { flex: 0 0 25%; max-width: 25%; }
  .g-col-xl-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .g-col-xl-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .g-col-xl-6 { flex: 0 0 50%; max-width: 50%; }
  .g-col-xl-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .g-col-xl-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .g-col-xl-9 { flex: 0 0 75%; max-width: 75%; }
  .g-col-xl-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .g-col-xl-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .g-col-xl-12 { flex: 0 0 100%; max-width: 100%; }
}