.card {
  box-sizing: border-box;
  display: block;
  overflow: hidden;

  background: var(--color-grey-lighter);
  border: 1px solid var(--color-grey-light);
  border-radius: var(--gutter);
}

.card__header {
  background: var(--color-grey);
  /*border-top-left-radius: var(--gutter);
  border-top-right-radius: var(--gutter);*/
  padding: var(--gutter);
}

.card__body {
  
}

.card__footer {
  background: var(--color-grey);
  /*border-top-left-radius: var(--gutter);
  border-top-right-radius: var(--gutter);*/
  padding: var(--gutter);
}

.card__image {
  
}

.card__actions {
  
}